ul.categories-list {
    list-style: none;
    font-size: 10px;
    padding: 0;
    margin: 20px 0 0 0;
}

li.list-item {
    display: inline;
    padding-right: 5px;
}

li.list-item a {
    font-size: 12px;
    background: #ddd;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: lowercase;
}