#case-studies {
    position: relative;
    h2 {
        margin-bottom: 50px;
        position: relative;
    }
    .studies {
        display: block;
        position: relative;
        .study {
            padding: 0 40px;
            width: calc(50vw - 140px);
            display: inline-block;
            margin-bottom: 40px;
            &:nth-child(3) {
                clear: both;
            }
            .thumbnail {
                height: 200px;
                width: 100%;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                z-index: 3;
                border: 1px solid transparent;
                transition: all linear .3s;
                img {
                    height: 40px !important;
                    width: auto !important;
                    margin: 0;
                }
                &:hover, &:focus {
                    border: 1px solid white;
                }
            }
            h3 {
                font-family: verdana;
                font-size: 24px;
            }
            a {
                color: white;
            }
            &:nth-child(2), &:nth-child(3) {
                .thumbnail {
                    img {
                        height: 80px !important;
                    }
                }
            }
        }
        
    }
    .thumbnail {
        height: 200px;
        width: 100%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        img {
            height: 40px !important;
            width: auto !important;
        }
        span {
            display: block;
            clear: both;
            margin-top: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .detailed-study {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        padding: 30px;
        padding-top: 50px;
        z-index: 10;
        overflow: scroll;
        a {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 30px;
            cursor: pointer;
            color: white;
        }
        h3 {
            font-size: 30px;
        }
        img {
            display: block;
            margin: 30px auto;
        }
    }
}


